
* {
    font-family: 'Merriweather', serif;
    font-size: 24px;
}


body {
    background-color: black;
    color: white;
    text-align: center;
    height: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.maintext {
    font-size: 200px;
}

.container button {
    height: 40px;
    width: 200px;
    border: white solid 3px;
    color: white;
    background-color: black;
    letter-spacing: .7px;
    font-size: .8em;
}

button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}